/* General styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

nav {
  height: auto;
  background: linear-gradient(90deg, #ffa07a, #ff4500);
  border-radius: 10px;
}

nav.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#crispy {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  padding-right: 10%;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrstepap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112, 44, 249;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Cover page */
#cover {
  margin-top: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  animation: slide 16s infinite;
}

@keyframes slide {
  0%,
  25% {
    background-image: url('image.jpg');
  }
  26%,
  50% {
    background-image: url('image1.jpg');
  }
  51%,
  75% {
    background-image: url('image2.jpg');
  }
  76%,
  100% {
    background-image: url('image3.jpeg');
  }
}

#cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  animation: fade 16s infinite;
}

@keyframes fade {
  0%,
  25%,
  50%,
  75%,
  100% {
    opacity: 1;
  }
  step 12.5%,
  37.5%,
  62.5%,
  87.5% {
    opacity: 0;
  }
}

#cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.cover-content h1 {
  font-size: 5rem;
}

.cover-content p {
  font-size: 1.25rem;
}

/* ABOUT SECTION */
.about {
  border-radius: 10px;
  background: linear-gradient(rgb(206, 225, 148), rgb(228, 207, 48));
}

.about-div h2 {
  font-size: 3rem;
  font-weight: 3rem;
  text-decoration: solid;
}

.about-div p {
  font-size: 1.25rem;
  font-weight: 1rem;
  text-decoration: solid;
  font-style: italic;
}

.product {
  height: 50vh;
}

.card-text {
}
