/* General styles */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.body {
  background-color: rgb(222, 202, 202);
}
nav {
  height: auto;
  background: linear-gradient(90deg, #ffa07a, #ff4500);
  border-radius: 10px;
}

nav.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#crispy {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  padding-right: 10%;
}
.nav-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrstepap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112, 44, 249;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* Cover page */
#cover {
  margin-top: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  animation: slide 16s infinite;
}

@keyframes slide {
  0%,
  25% {
    background-image: url('image.jpg');
  }
  26%,
  50% {
    background-image: url('image1.jpg');
  }
  51%,
  75% {
    background-image: url('image2.jpg');
  }
  76%,
  100% {
    background-image: url('image3.jpeg');
  }
}

#cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  animation: fade 16s infinite;
}

@keyframes fade {
  0%,
  25%,
  50%,
  75%,
  100% {
    opacity: 1;
  }
  step 12.5%,
  37.5%,
  62.5%,
  87.5% {
    opacity: 0;
  }
}

#cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.cover-content h1 {
  font-size: 5rem;
}

.cover-content p {
  font-size: 1.25rem;
}

/* ABOUT SECTION */
.about {
  border-radius: 10px;
  background: linear-gradient(to right, #f0f0f0, #ddd);
  border-bottom-left-radius: 50% 70px;
  border-bottom-right-radius: 50% 70px;

  background: linear-gradient(rgb(206, 225, 148), rgb(228, 207, 48));
}

.about-div h2 {
  font-size: 3rem;
  font-weight: 3rem;
  text-decoration: solid;
}

.about-div p {
  font-size: 1.25rem;
  font-weight: 1rem;
  text-decoration: solid;
  font-style: italic;
}

.about button {
  margin-bottom: 20px;
}

.products-section {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(gray, white);
}

.product {
  width: 99%;

  margin: 10px;
  height: 50vh;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgb(212, 106, 106);
}

.card-title {
  font: bold;
  font-family: monospace;
  font-style: oblique;
  font-size: 3rem;
}

.card-body {
  border-radius: 50%;

  max-height: 70vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}
.card-text {
  font: bold;
  font-family: monospace;
  font-style: normal;
  font-size: 1.2rem;
  border-radius: 50%;
}

.image {
  overflow: hidden;
}
.card {
  border-radius: 50%;

  max-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;

  background: linear-gradient(gray, white);
}

.img {
  height: 70vh;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 4x rgb(212, 102, 102);
}

@media (max-width: 768px) {
  .products-section .row {
    flex-direction: column;
    align-items: center;
  }

  .products-section .col-6 {
    width: 100%;
    max-height: none;
    margin-bottom: 20px;
  }

  .products-section .image img {
    max-height: none;
    height: auto;
  }

  .products-section .card-body {
    text-align: left;
  }
}

.product-item-section {
  margin-top: 1rem;
  box-shadow: 2px 4px 6px rgb(63, 63, 162);
}
.curvy {
  background-color: white;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wave {
  height: 150px;
  width: 50%;
  border: 4px red solid;
  border-top: none;
  border-right: none;
  border-left: none;

  border-bottom-left-radius: 50% 75px;
  border-bottom-right-radius: 50% 76px;
}
.wave2 {
  height: 150px;
  width: 50%;
  border-top-left-radius: 50% 75px;
  border-top-right-radius: 50% 75px;
  border: red solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
